extends: default.liquid
---

{% assign post = posts|first%}
<div class="edition">Aktuelle Ausgabe {{post.edition}} vom {{post.date | date:"%d.%m.%Y"}}:</div>
<h1 class="edition-title"><a href="{{post.path}}">{{post.title}}</a></h1>

<hr />

{{post.content}}

{% if post.prev %}
  <a href="{{post.prev.url}}">Vorherige Ausgabe</a>
{% endif %}